body {
  background-color: #fafafa;
}

code {
  background-color: #eee;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.cta-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7.5px;
}

.split-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 50px;

  & > img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .split-grid {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
