.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 50px;

  & form {

    & input, textarea {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  & img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .contact-grid {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
